@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50;
  --background-start-rgb: 248, 243, 230;
  --background-end-rgb: 248, 243, 230;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 57, 57, 57;
  --background-end-rgb: 57, 57, 57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50,50,50;
    --background-start-rgb: 248,243,230;
    --background-end-rgb: 248,243,230;
  }

  .dark {
    --foreground-rgb: 255,255,255;
    --background-start-rgb: 57, 57, 57;
    --background-end-rgb: 57, 57, 57;
  }
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}

/* rgb(42, 2, 65) */
/* rgb(254, 93, 39) */
/* rgb(188, 253, 85) */
/* rgb(241, 0, 136) */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
