@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 56,
      30,112;
    --background-start-rgb: 234,
      247,
      223;
    --background-end-rgb: 234,
      247,
      223;
  }

  .dark {
    --foreground-rgb: 234,
      247,
      223;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* rgb(42, 2, 65) */
/* rgb(254, 93, 39) */
/* rgb(188, 253, 85) */
/* rgb(241, 0, 136) */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
